*
{
  margin: 0;
  padding: 0;
}

body
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home-body
{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/multimedia-background.jpg);
  width: 2500px;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-size:cover;
}
.product
{
  position: absolute;
  width: 1920px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}


.product h1
{
  color: rosybrown;
}

header
{
  width: 800px;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-size:cover;
  float: right;
  margin-top: 2%;
}

.main-nav li
{
  list-style: none;
  display: inline-block;
  margin-left: 25px;
}
.main-nav li a 
{
  color:whitesmoke;
  text-decoration: none;
  font-size: 90%;
  
}
.main-nav li a:hover
{
  color:#e67e22;
  border-bottom: 2px solid #e67e22;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}

.mini-nav li
{
  display:inline-block;
}

.active
{
  color:#e67e22;
  border-bottom: 2px solid #e67e22;
  padding: 20px;
}

li a
{
  color:whitesmoke;
  text-decoration: none;
  font-size: 90%;
  font-style: italic;
}